<div class="large-12 columns">
  <h1>Welcome to my Home Page</h1>
  </div>
  <p>Hello, I am Christopher Claiborne and I am interested in becoming a web developer using MVC patters and front-end frameworks.</p>
</div>


